
<div class="CCBackground">
  <div class="outercontainer">
    <div class="card-wrapper"></div>
    <div class="formcontainer">
      <form action="">
        <input class="form-control" placeholder="Card Number" type="text" name="number">
        <br>
        <input class="form-control" placeholder="Card Holder Name" type="text" name="name">
        <br>
        <div class="text-right">
          <div class="form-group">
            <input class="form-control" placeholder="MM/YY" type="text" name="expiry"><br>
            <input class="form-control" placeholder="CVC" type="text" name="cvc">
          </div>
        </div>
        
      </form>
    </div>
    <div class="text-right purchasebtn">
      <button class="btn btn-success">Add card</button>
    </div>
  </div>
</div>