<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--favi-->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">
    <!--boostrap4 -->
    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
     <!--customstyles-->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
   
    
    <title>SIGN IN</title>
</head>


<body>
    <section id="content-sec-3">
        <center>
            <a class="index.html" href="index.html">
                <img src="{% static 'assets/img/logo.png' %}" alt="" width="200" />
            </a>
        </center>

        <div class="container">
            <div class="row">
                <div class="col-md-6 py-5" id="set-form-post">
                    <div class="form-group shadow">
                        <form class="text-center border border-light p-2 mx-1 card" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            <fieldset class="text-left font-weight-bold">
  

                                <p class="font-weight-bold mb-3 h3">Sign in</p>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <label for="signinformemail"> Email</label>
                                {% comment %} <input type="email" id="signinformemail" class="form-control mb-4" placeholder="Email"> {% endcomment %}
                                {{ form.login }}
                                {{ form.login.error }}

                                <label for="signinformpassword">password</label>
                                {% comment %} <input type="password" id="signinformpassword" class="form-control mb-4"
                                    placeholder="password"> {% endcomment %}
                                    {{ form.password }}

                                    
                                <div class="text-center text-primary py-2">
                                    <a href="">Forgot password?</a>
                                </div>
                                <div class="form-check text-left my-2 h6 pb-3">
                                    <input type="checkbox" class="form-check-input" id="id_remember">
                                    <label class="form-check-label" for="id_remember">keep me signed
                                        in</label>
                                </div>
                               
                                <button class="btn btn-primary btn-xs col-4 offset-4 text" type="submit">Sign
                                    in</button>
                                <div class="text-center p-3 h6">
                                    Don’t have an account? <a class="text-primary" href="/accounts/signup">Click here</a>
                                </div>
                            </fieldset>

                        </form>
                    </div>


                </div>

            </div>
        </div>

    </section>



</body>

<!-- jQuery library -->
<script type='text/javascript' src="{% static 'assets/js/jquery.min.js' %}"></script>
<!--popper-->
<script type='text/javascript' src="{% static 'assets/js/popper.min.js' %}"></script>
<!--boostrap4 js-->
<script type='text/javascript' src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- scripts -->
<script type='text/javascript' src="{% static 'assets/js/scripts.js' %}"></script>

</body>

</html>