<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--boostrap4 -->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">
    <!--boostrap4 -->
    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
     <!--customstyles-->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <title>Contact Us</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color navbar-fixed-top">
        <a class="pl-5 navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'assets/img/logo.png' %}" alt="" width="200" />
        </a>
        <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse padset" id="basicExampleNav">

            <ul class="navbar-nav mr-auto" id="#magic-line">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'who' %}">Who we are
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'solution' %}">Our Solutions</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                </li>
            </ul>
            <div id="navsec2">
                <span class="pr-2">
                    <a href="/accounts/login/" class="btn btn-primary btn-sm">Login &ensp;</a>
                </span>
                <span class="pl-2">
                    <a href="/accounts/signup/" class="btn btn-primary btn-sm">Sign up</a>
                </span>
            </div>
        </div>

    </nav>
    <!--/.Navbar-->



    <section id="contact-content-sec" class="pb-5">

        <main class="container">
            <div class="row">
                <div class="col-md-4 my-5 pt-5 mx-2">
                    <p class="h2 text-white">
                        Be among the first to take trading to the next level. Sign up now and get early access to our
                        product.
                    </p>
                </div>

                <div class="col-md-5 my-3" id="form-sec">
                    <form class="text-center border border-light p-4 mx-1 card" action="#!">
                        <fieldset class="text-left font-weight-bold">
                            <label for="defaultContactFormName"> Name</label>
                            <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

                            <label for="defaultContactFormEmail"> Email</label>
                            <input type="email" id="defaultContactFormEmail" class="form-control mb-4"
                                placeholder="E-mail">
                            <label for="exampleFormControlTextarea2"> What do you want to know?</label>
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                                    placeholder="Message"></textarea>
                            </div>
                        </fieldset>
                        <button class="btn btn-primary btn-xs" type="submit">Send</button>
                    </form>

                </div>
            </div>
        </main>
    </section>

    <footer class="footer-2 py-2 col-12 bg-white" style="background-color: white !important;">
        <div class="text-center">
            <a href="sign in.html" class="btn btn-white font-weight-bold">join our waitlist</a>
        </div>
    </footer>
    <!--/.content section-->



    <!-- jQuery library -->
     <script type='text/javascript' src="{% static 'assets/js/jquery.min.js' %}"></script>
<!--popper-->
<script type='text/javascript' src="{% static 'assets/js/popper.min.js' %}"></script>
<!--boostrap4 js-->
<script type='text/javascript' src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- scripts -->
<script type='text/javascript' src="{% static 'assets/js/scripts.js' %}"></script>

    <script>

    </script>
</body>

</html>