<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--boostrap4 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--customstyles-->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!--favi-->
    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon">
    <title>HOME</title>
</head>
<div>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark primary-color border border-top-0 border-primary">
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo.png" alt="" width="200" />
            </a>
            <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse"
                data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse padset" id="basicExampleNav">

                <ul class="navbar-nav mr-auto" id="#magic-line">
                    <li class="nav-item">
                        <a class="nav-link" href="Who we are.html">Who we are
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="our Solutions.html">Our Solutions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact us.html">Contact us</a>
                    </li>
                </ul>
                <a href="sign in.html" class="btn btn-primary btn-lg">Join our waitlist</a>
            </div>

        </nav>
        <!--/.Navbar-->



        <section id="content-sec">
            <img src="assets/img/top-left-decor.png" alt="" id="top-left-decor" />
            <img src="assets/img/top-mid-decor.png" alt="" id="top-mid-decor" />
            <main class="container">
                <div class="row">
                    <div class="col-md-4 para1">
                        <p class="h2 my-3">
                            Make payments on <br> your own terms
                        </p>
                        <small class="h5">
                            Buy and pay small small
                        </small>
                    </div>

                    <div class="col-md-6 offset-1 para2 h1">
                        <div class="col-md-8">
                            Coming soon...
                        </div>
                        <img src="assets/img/right-mid-decor.png" alt="" id="right-mid-decor" />
                        <img src="assets/img/low-left-decor.png" alt="" id="low-left-decor" />
            </main>

        </section>
        <div class="">
            <a href="sign in.html" class="btn btn-white btn-block bg-white font-weight-bold">join our waitlist</a>
        </div>
        <!--/.content section-->



        <!-- jQuery library -->
        <script type='text/javascript' src='assets/js/jquery.min.js'></script>
        <!--popper-->
        <script type='text/javascript' src='assets/js/popper.min.js'></script>
        <!--boostrap4 js-->
        <script type='text/javascript' src='assets/js/bootstrap.min.js'></script>

        <script>

        </script>
    </body>

</html>