{% extends 'base/base.html' %}
{% block content %}
{% load static %}

    <section id="content-sec">        
        <main class="container">
            <div class="row row-sec">
                <div class="col-md-5 para1 text-center">
                    <p class="h1 my-3">
                        Make payments on <br> your own terms
                    </p>
                    <small class="h2">
                        Buy and pay small small
                    </small>
                </div>
                <div class="col-md-6 offset-1">
                    <div id="bg-col-2-deco">
                        <img src=" {% static 'assets/img/bg-col-2-deco.png' %}" class="bg-col-2-deco-img" alt="" />                      
                    </div>
                </div>
            </div>
        </main>
    </section>

    <!-- content section -->

    <footer class="bg-white text-center" id="index-footer">
        <a href="sign in.html" class="btn btn-white font-weight-bold text-center">Join our
            waitlist</a>
    </footer>


{% endblock %}
