{% extends 'base/base.html' %}
{% block content %}
{% load static %}
    <section id="profile-content">
        <main class="container" style="padding-bottom:50px;">
            <div class="row">
                <div class="col-md-3 col-lg-3 pl-4"
                    style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

                    <div class="order-side-bar-sec-2 py-4">
                        <h5 class="pb-3">
                            <a href="" style="color:black;" id="profileview"> View Profile <i id="viewarr1"
                                    class="text-warning">
                                    &RightArrow;</i></a>
                        </h5>
                        <h5>
                            <a href="" style="color:black;" id="profileedit"> Edit Profile <i id="editarr2"
                                    class="text-warning d-none">
                                    &RightArrow;</i></a>
                        </h5>
                    </div>
                </div>


                <div id="profileviewdiv" class="row"></div>

                <div id="profileeditdiv" class="row d-none">
                    <div class="col-md-6 py-5 pl-5">
                    {% if request.user.profilePicx.img %}
                        <img src="{{ request.user.profilePicx.img.url }}"  style="border-radius:100px;"alt="" height="200" width="200"
                            class="img-responsive thumbnail">
                    {% else %}
                            <img src="{%static 'assets/img/profile.png' %}" alt="" height="200" width="200"
                            class="img-responsive thumbnail">
                    {% endif %}
                    </div>
                    <div class="col-md-10">
                        <p class="px-3 h2"> User information</p>

                        <form class="text-center border border-light p-5" action="#!">
                            <fieldset class="text-left font-weight-bold">
                                <div class="row">
                                    <label for="profilefirstname" class="col-6">First name:
                                        <input type="text" id="profilefirstname" class="form-control mb-4"
                                            placeholder="First name">
                                    </label>
                                    <label for="profilelastname" class="col-6">Last name:
                                        <input type="text" id="profilelastname" class="form-control mb-4"
                                            placeholder="Last name">
                                    </label>
                                </div>
                                <label for="profilemial">Email</label>
                                <input type="email" id="profilemial" class="form-control mb-4" placeholder="E-mail">

                                <label for="phonenumber">Phone number:</label>
                                <input type="number" id="phonenumber" class="form-control mb-4"
                                    placeholder="Phone number">
                            </fieldset>
                            <div class="row my-4">
                                <div class="col-6">
                                    <button class="btn btn-default bg-white btn-sm" type="submit">
                                        <b class="text-success">Save</b></button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-default bg-white btn-sm" type="submit">
                                        <b class="text-danger">Discard</b></button>
                                </div>
                                
                            </div>
                        </form>
                        <form method="POST" action="/profile/" enctype="multipart/form-data" name="profile">
                                        {% csrf_token %}
                                        <input type="file" name="image_file" placeholder="input your password" class="upload-input"  accept="image/jpg, image/gif/png, image/jpeg" required="" id="id_file">
                                        <button class="btn btn-primary" type="submit" >UPLOAD Profile</button>
                                    </form>

                    </div>
                </div>
            </div>
        </main>
    </section>
    <!-- content section -->

    <footer class="bg-white text-center" id="index-footer">
        <!-- <a href="sign in.html" class="btn btn-white font-weight-bold text-center">Join our
            waitlist</a> -->
    </footer>

{% endblock content %}
