<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="10" /> -->
    <!--boostrap4 -->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">
    <!--boostrap4 -->
    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
     <!--customstyles-->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/fontawesome/css/all.css' %}">
    <title>ORDERS</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color navbar-fixed-top">
        <a class="pl-5 navbar-brand" href="index.html">
            <p class="text-primary font-weignt-bold h3" style="font-family:Arial, Helvetica, sans-serif;">
                {{request.user.first_name }} {{request.user.last_name }}</p>
        </a>
        <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse padset" id="basicExampleNav">

            <ul class="navbar-nav mr-auto" id="#magic-line">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'orders' %}">Orders
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item nav-pada">
                    <a class="nav-link" href="{% url 'dashboard' %}">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                </li>
            </ul>
            <div id="navsec2">
                <a href="{% url 'logout' %}" class="font-weight-bold" style="color:black;">Logout</a>
                </span>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->
    <section id="content-sec">
        <main class="container-fluid" style="padding-bottom:50px;">
            <div class="row">
                <div class="col-md-3 col-lg-3 pl-4"
                    style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                    <div>
                        <a href="" class="btn btn-warning btn-lg"> <b>
                                + New Order
                            </b> </a>
                    </div>
                    <div class="order-side-bar-sec-2 py-4">
                        <h5 class="pb-3">
                            <a href="" style="color:black;" id="pendingorder"> Pending Order <i id="arr1"
                                    class="text-warning">
                                    &RightArrow;</i></a>
                        </h5>
                        <h5>
                            <a href="" style="color:black;" id="fulfilledorders"> Fulfilled Orders <i id="arr2"
                                    class="text-warning d-none">
                                    &RightArrow;</i></a>
                        </h5>
                    </div>
                </div>

                <div class="col-md-9 col-lg-9 px-3">
                    <div class="input-group col-md-4 pt-2 pb-5">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div id="order-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Plan</th>
                                    <th scope="col">Instalment Price</th>
                                    <th id="balth" scope="col">Balance</th>
                                    <th id="stath" class="d-none" scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody class="shadow h6">
                                <tr>
                                    <td class="py-4">55 Inch LG smart TV</td>
                                    <td class="py-4">N180,000</td>
                                    <td class="py-4">Monthly</td>
                                    <td class="py-4">N30,000</td>

                                    <td class="py-4" id="bal_tr_1_td_1">N60,000</td>
                                    <td class="py-4" id="bal_tr_1_td_2">
                                        <sub>
                                            <a href="">cancle order</a>
                                        </sub>
                                    </td>

                                    <td id="sta_tr_1_td_1" class="d-none">Claimed</td>


                                </tr>
                            </tbody>
                            <td></td>
                            <tbody class="shadow h6">
                                <tr>
                                    <td class="py-4">100 x 200 Plot at Lekki Phase II</td>
                                    <td class="py-4">N2,080,000</td>
                                    <td class="py-4">Quarterly</td>
                                    <td class="py-4">N520,000</td>

                                    <td class="py-4" id="bal_tr_2_td_1">N1,040,000</td>
                                    <td class="py-4" id="bal_tr_2_td_2">
                                        <sub>
                                            <a href="">cancle order</a>
                                        </sub>
                                    </td>
                                    <td id="sta_tr_2_td_1" class="d-none">Pending</td>
                                    <td id="sta_tr_2_td_2" class="d-none">
                                        <sub>
                                            <a href="">claim</a>
                                        </sub>
                                    </td>
                                </tr>
                            </tbody>
                            <td></td>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <!-- content section -->

    <footer class="bg-white text-center" id="index-footer">
        <!-- <a href="sign in.html" class="btn btn-white font-weight-bold text-center">Join our
            waitlist</a> -->
    </footer>

   <script type='text/javascript' src="{% static 'assets/js/jquery.min.js' %}"></script>
<!--popper-->
<script type='text/javascript' src="{% static 'assets/js/popper.min.js' %}"></script>
<!--boostrap4 js-->
<script type='text/javascript' src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- scripts -->
<script type='text/javascript' src="{% static 'assets/js/scripts.js' %}"></script>



    <script>
        var arr1 = document.getElementById("arr1");
        var arr2 = document.getElementById("arr2");
        var balth = document.getElementById("balth");
        var stath = document.getElementById("stath");
        var bal_tr_1_td_1 = document.getElementById("bal_tr_1_td_1")
        var bal_tr_1_td_2 = document.getElementById("bal_tr_1_td_2");
        var bal_tr_2_td_1 = document.getElementById("bal_tr_2_td_1")
        var bal_tr_2_td_2 = document.getElementById("bal_tr_2_td_2");
        var sta_tr_1_td_1 = document.getElementById("sta_tr_1_td_1");
        var sta_tr_2_td_1 = document.getElementById("sta_tr_2_td_1")
        var sta_tr_2_td_2 = document.getElementById("sta_tr_2_td_2");
        var pendingorder = document.getElementById('pendingorder');
        var fulfilledorders = document.getElementById('fulfilledorders');
        pendingorder.addEventListener('click', showPending);
        fulfilledorders.addEventListener('click', showFulfilled);
        function showPending(event) {
            event.preventDefault();
            arr1.className = "text-warning";
            arr2.className = "text-warning d-none";
            balth.className = "";
            bal_tr_1_td_1.className = "py-4";
            bal_tr_1_td_2.className = "py-4";
            bal_tr_2_td_1.className = "";
            bal_tr_2_td_2.className = "py-4";
            stath.className = "d-none";
            sta_tr_1_td_1.className = "d-none";
            sta_tr_2_td_1.className = "d-none";
            sta_tr_2_td_2.className = "d-none";
        };
        function showFulfilled(event) {
            event.preventDefault();
            arr1.className = "text-warning d-none";
            arr2.className = "text-warning";
            balth.className = "d-none";
            bal_tr_1_td_1.className = "d-none";
            bal_tr_1_td_2.className = "d-none";
            bal_tr_2_td_1.className = "d-none";
            bal_tr_2_td_2.className = "d-none";
            stath.className = "";
            sta_tr_1_td_1.className = "py-4";
            sta_tr_2_td_1.className = "py-4";
            sta_tr_2_td_2.className = "py-4";

        };
    </script>
</body>

</html>