{% extends 'base/base.html' %}
{% block content %}
{% load static %}
    <section id="order-content">
        <main class="container-fluid" style="padding-bottom:50px;">
            <div class="row">
                <div class="col-md-3 col-lg-3 pl-4"
                    style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                    <div>
                        <a href="" class="btn btn-warning btn-lg"> <b>
                                + New Order
                            </b> </a>
                    </div>
                    <div class="order-side-bar-sec-2 py-4">
                        <h5 class="pb-3">
                            <a href="" style="color:black;" id="pendingorder"> Pending Order <i id="arr1"
                                    class="text-warning">
                                    &RightArrow;</i></a>
                        </h5>
                        <h5>
                            <a href="" style="color:black;" id="fulfilledorders"> Fulfilled Orders <i id="arr2"
                                    class="text-warning d-none">
                                    &RightArrow;</i></a>
                        </h5>
                    </div>
                </div>

                <div class="col-md-9 col-lg-9 px-3">
                    <div class="input-group col-md-4 pt-2 pb-5">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div id="order-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Plan</th>
                                    <th scope="col">Instalment Price</th>
                                    <th id="balth" scope="col">Balance</th>
                                    <th id="stath" class="d-none" scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody class="shadow h6">
                                <tr>
                                    <td class="py-4">55 Inch LG smart TV</td>
                                    <td class="py-4">N180,000</td>
                                    <td class="py-4">Monthly</td>
                                    <td class="py-4">N30,000</td>

                                    <td class="py-4" id="bal_tr_1_td_1">N60,000</td>
                                    <td class="py-4" id="bal_tr_1_td_2">
                                        <sub>
                                            <a href="">cancle order</a>
                                        </sub>
                                    </td>

                                    <td id="sta_tr_1_td_1" class="d-none">Claimed</td>


                                </tr>
                            </tbody>
                            <td></td>
                            <tbody class="shadow h6">
                                <tr>
                                    <td class="py-4">100 x 200 Plot at Lekki Phase II</td>
                                    <td class="py-4">N2,080,000</td>
                                    <td class="py-4">Quarterly</td>
                                    <td class="py-4">N520,000</td>

                                    <td class="py-4" id="bal_tr_2_td_1">N1,040,000</td>
                                    <td class="py-4" id="bal_tr_2_td_2">
                                        <sub>
                                            <a href="">cancle order</a>
                                        </sub>
                                    </td>
                                    <td id="sta_tr_2_td_1" class="d-none">Pending</td>
                                    <td id="sta_tr_2_td_2" class="d-none">
                                        <sub>
                                            <a href="">claim</a>
                                        </sub>
                                    </td>
                                </tr>
                            </tbody>
                            <td></td>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <!-- content section -->

    <footer class="bg-white text-center" id="index-footer">
        <!-- <a href="sign in.html" class="btn btn-white font-weight-bold text-center">Join our
            waitlist</a> -->
    </footer>

    {% endblock content %}
 
