{% extends 'base/base.html' %}
{% block content %}
{% load static %} 

<section id="">
        <main class="container pb-1">
            <div class="row">
                <div class="col-md-6 p-5">
                    <div class="sec-1 text-center p-4">
                        <img src="{% static 'assets/img/1.jpg' %}" alt="" class="">
                        <p class="font-weight-bold h4 mx-auto p-2 text-justify">
                            The kobosave mobile app to trade directly with dealers and manage payments for goods and
                            services </p>
                        <br>
                    </div>

                </div>

                <div class="col-md-6 px-5" id="kobo-api">
                    <div class="sec-2 text-center pb-3">
                        <img src="{% static 'assets/img/2.jpg' %}" alt="" class="pt-2">
                        <p class="font-weight-bold h4 p-3 mb-5 text-justify">
                            The Kobosave API which will be integrated into eccomerce platforms as a payment option
                        </p>

                    </div>
                </div>
            </div>
        </main>
    </section>
    <footer class="footer-2 py-4 col-12">
        <div class=" text-center" id="foot-sec">
            <a href="sign in.html" class="font-weight-bold">join our waitlist</a>
        </div>
    </footer>
    {% endblock content %}