{% extends 'base/base.html' %}
{% block content %}
{% load static %}

    <section id="pay-content">
        <main class="container-fluid" style="padding-bottom:50px;">
            <div class="row">
                <div class="col-md-3 col-lg-3 pl-4"
                    style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                    <div>
                        <a href="" class="btn btn-warning btn-lg"> <b>
                                + New Order
                            </b> </a>
                    </div>
                    <div class="order-side-bar-sec-2 py-4">
                        <h5 class="pb-3">
                            <a href="" style="color:black;" id="wallet"> My Wallet <i id="walletarr"
                                    class="text-warning">
                                    &RightArrow;</i></a>
                        </h5>
                        <h5>
                            <a href="" style="color:black;" id="mngcard"> Manage Cards <i id="mngcardarr"
                                    class="text-warning d-none">
                                    &RightArrow;</i></a>
                        </h5>
                    </div>
                </div>

                <div class="col-md-9 col-lg-9 px-3">

                    <div class="shadow font-weight-bold p-4 mt-4 h5">
                        <p class="text-left">Wallet Balance:</p>
                        <p class="text-left h1 text-warning">N1,340,000</p>
                    </div>
                    <div>
                        <p class="h3 pt-5">Payments Plan</p>
                        <div class="row py-5">
                            <div class="col-md-6">
                                <input type="radio" name="payment" id="autosave"
                                    style="position: relative; top:10000px;">
                                <label for="autosave" class="h4">
                                    Autosave
                                    &ensp;
                                </label>
                                <p>
                                    The money is deducted automatically from your account at the given time
                                </p>
                            </div>
                            <div class="col-md-6">

                                <input type="radio" clicked name="payment" id="quickPay"
                                    style="position: relative; top:10000px;">

                                <label for="quickPay" class="h4">
                                    QuickPay
                                    &ensp;
                                </label>
                                <span class="text-warning">Not Recommended</span>
                                <p>
                                    You deposit the money in your wallet on or before the due date
                                </p>
                            </div>
                        </div>
                        <p class="h3 text-left py-3">Choose billing account</p>
                        <section id="pay_sec_1">
                            <div class="row p-2">
                                <div class="col-md-6 h6">
                                    <div class="card shadow py-4 pl-5"
                                        style="border-radius: 25px; border: 1px solid rgba(12, 153, 60, 0.4); ">
                                        <p class="text-left p-1">Asemota Izoduwa</p>
                                        <p class="text-left p-1">2143765089</p>
                                        <p class="text-left p-1">**** **** **** **** 6789</p>
                                    </div>
                                    <p class="text-success h6 pt-3">Active</p>
                                </div>
                                <div id="blibox" class="pl-3 h6">
                                    <div class="col-md-12 bg-white pb-1"
                                        style="border-radius: 25px; box-shadow: -5px 0 7px -5px;">
                                        <p class="text-left p-2">Asemota Izod</p>
                                        <p class="text-left p-2">2143765089</p>
                                        <p class="text-left pb-4">**** ****</p>
                                    </div>
                                </div>
                                <div class="col-2 pt-4">
                                    <button class="shadow btn btn-lg" style="border-radius: 100%;">
                                        <p class="h1" style="font-size: 50px;">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </p>
                                    </button>
                                </div>
                            </div>
                            <div class="row py-5 d-none" id="toggleq">
                                <div class="col-md-6 pl-5">
                                    <p class="h4">Amount</p>
                                    <label for="amnt" class="pr-5 well">
                                        N <input type="text" class="col-10" style="border-radius: 5px;;" id="amnt">
                                    </label>
                                </div>
                                <div class="col-md-6 pb-5">
                                    <p class="pl-5 text-warning h4">Disclaimer</p>
                                    <p class="px-5">If the instalments are not paid before the given date, Autosave will
                                        be activated
                                    </p>
                                </div>
                                <center class="py-5 col-12">
                                    <button class="btn btn-warning btn-sm"><b>Deposit</b></button>
                                </center>
                            </div>
                        </section>

                        <section id="pay_sec_2" class="d-none">
                            <div class="row p-2">
                                <div class="col-md-5 h6">
                                    <div class="card shadow py-4 pl-5"
                                        style="border-radius: 25px; border: 1px solid rgba(12, 153, 60, 0.4); ">
                                        <p class="text-left p-1">Asemota Izoduwa</p>
                                        <p class="text-left p-1">2143765089</p>
                                        <p class="text-left p-1">**** **** **** **** 6789</p>
                                    </div>
                                    <p class="text-success h6 pt-3">Active</p>
                                </div>
                                <div class="col-md-6 h6"></div>
                                <div class="col-md-5 h6 dropdown">
                                    <div class="card shadow py-4 pl-5 dropbtn" style="border-radius: 25px;">
                                        <p class="text-left p-1">Asemota Izoduwa</p>
                                        <p class="text-left p-1">2143765089</p>
                                        <p class="text-left p-1">First Bank Nigeria</p>
                                    </div>
                                    <div class="dropdown-content">
                                        <a href="#"
                                            class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0 setactive">
                                            <span class="">set active</span></a>
                                        <a href="#"
                                            class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0 deletecard">
                                            <span>delete card</span></a>
                                    </div>

                                </div>
                                <div class="col-md-5 h6 dropdown">
                                    <div class="card shadow py-4 pl-5 dropbtn" style="border-radius: 25px;">
                                        <p class="text-left p-1">Asemota Izoduwa</p>
                                        <p class="text-left p-1">1233769073</p>
                                        <p class="text-left p-1">Gurantee Trust Bank</p>
                                    </div>
                                    <div class="dropdown-content">
                                        <a href="#"
                                            class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0 setactive">
                                            <span class="">set active</span></a>
                                        <a href="#"
                                            class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0 deletecard">
                                            <span>delete card</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-md-5 h6 dropdown">
                                    <div class="card shadow py-4 pl-5 dropbtn" style="border-radius: 25px;">
                                        <p class="text-left p-1">Victor Uwa</p>
                                        <p class="text-left p-1">1633765065</p>
                                        <p class="text-left p-1">Sterling Bank</p>
                                    </div>
                                    <div class="dropdown-content">
                                        <a href="#"
                                            class="btn btn-outline-success btn-rounded btn-block my-4 waves-effect z-depth-0 setactive">
                                            <span class="">set active</span></a>
                                        <a href="#"
                                            class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0 deletecard">
                                            <span>delete card</span></a>
                                    </div>
                                </div>
                                <div class="col-md-5 h6">
                                    <div class="card shadow py-4 pl-5" style="border-radius: 25px;">
                                        <div class="row">
                                            <p class="text-left h2 col-6 py-4 my-3">Add Card</p>
                                            <div class="text-left h2 col-4 pl-4 py-1">
                                                <button class="fa fa-plus" aria-hidden="true shadow" id="addcardbtn">
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
        </main>
    </section>
    <!-- content section -->

    <footer class="bg-white text-center" id="index-footer">
        <!-- <a href="sign in.html" class="btn btn-white font-weight-bold text-center">Join our
            waitlist</a> -->
    </footer>
 {% endblock content %}
