{% extends 'base/base.html' %}
{% block content %}
{% load static %}
    <section id="">

        <main class="container">
            <div class="row">
                <div class="col-md-5 my-5 pt-5 mx-2">
                    <p class="h2 text-left">Transforming trade in Africa, one installment at a time by giving
                        everyone access to
                        high value
                        products and service at installment rates
                    </p>
                </div>

                <div class="col-md-6 my-4 pb-5">
                    <img src="{% static 'assets/img/who-we-are.jpg' %}" alt="" class="image-1">
                </div>
            </div>
        </main>

    </section>
    <footer class="footer-2 p-4 col-12">
        <div class="text-center">
            <a href="sign in.html" class="font-weight-bold">join our waitlist</a>
        </div>
    </footer>
    {% endblock content %}